/*estilos universales*/
*{
    background-color: #ecececff;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/*header*/
/*barra superior call to action (CTA)*/
.call-to-action{
    display: flex;
    background-color: #ffe5e0ff;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}
.CTA-text{
    background-color: #ffe5e0ff;
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: .8em;
    font-style: italic;
    font-size: 1.2em;
}
.CTA-text p{
    background-color: #ffe5e0ff; 
}
.CTA-btn{
    margin-left: 1.5em;
    padding: 0.4em 1em;
    background-color: #ff9b8eff;
    color: #ffffffff;
    font-style: italic;
    font-size: 1em;
    border-radius: 0.8em;
    border: 4px;
    border-color: #f19488;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);/* desplazamiento vertical hacia abajo, desp horiz derecha, blur, color+transparencia)*/
    text-decoration: none;
}
.CTA-btn a{
    background-color: #ff9b8eff;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}

/*banner central con logo*/
.banner-container{
    display: flex;
    padding-top: 0.8em;  
    position: relative;/*para que lo que va superpuesto se ajuste de acuerdo a este contenedor padre*/ 
    justify-content: center;
    align-items: center;
}
.banner-logo{
    width: 100%;        
}
.logo-overlay{
    position: absolute;
    border-radius: 100%;
    overflow: hidden;      
}
.logo-overlay img{
    width: 100%;
    border-radius: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8); /* desplazamiento vertical hacia abajo, desp horiz derecha, blur, color+transparencia)*/
    background-color: #ff9b8eff;
}

/*texto intro*/
.intro-text{
    background-color: #ffffffff;
    margin-top: 0.8em;
    padding: 0.5em 4em 0em 4em;    
}
.intro-text img{
    width: 100%;
}

/*navbar*/
.navbar1{
    margin-top: .8em;
}
.nav-horizontal{
    display: flex; /*hace que los items queden horizontales*/
    background-color: #ffe5e0ff;  
    list-style-type: none;/*saca las viñetas*/
    justify-content: space-around;
    margin-bottom: 0.5em;    
}
.nav-horizontal li{
    background-color: #ffe5e0ff;
    margin: 0.5em 0em 0.5em 0em;/*top right bottom left*/
    margin-left: 2.5em;
    margin-right: 2.5em;
}
.nav-horizontal li a{
    text-decoration: none;
    color: #080808;
    background-color: #ffe5e0ff;
}

/*main*/

/*row 1*/
.destacados{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    grid-template-rows: repeat(9,1fr);
    margin: 2em 10em 1em 10em;
    column-gap: 6em;
    
}
.card-one{
    grid-column: 1/3;
    grid-row: 1/4;
    background-color: #ecececff;
    /*border: 2px solid #f19488; para visualizar mejor*/
    display: flex;
    flex-direction: column;
}
.destacados-title{
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.destacados-title h3{
    background-color: #ffffff;
    padding-top: .6em;
    padding-bottom: .6em;
}
.card-one-image img{
    width: 29em;
    margin-bottom: 1em;
}
.card-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
.card-two{
    grid-column: 3/5;
    grid-row: 1/4;
    background-color: #ecececff;
     /*border: 2px solid #f19488; para visualizar mejor*/
    display: flex;
    flex-direction: column;
}
.destacados-blank{
    width: 29em;
    height: 3em;
    background-color: #ffffff;
    margin-bottom: 1em;
}
.card-two-image{
    margin-bottom: 1em;
}
.card-two-image img{
    width: 29em;
}
/*row 2*/
.card-three{
    grid-column: 1/2;
    grid-row: 4/7;
    background-color: #ffffff;
     /*border: 2px solid #f19488; para visualizar mejor*/
    padding-top: 2em;
}
.card-three p{
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 1em;
    font-style: italic;

}.card-three p strong{
    background-color: #ffffff;
}
.card-four{
    grid-column: 2/4;
    grid-row: 4/7;
     /*border: 2px solid #f19488; para visualizar mejor*/   
}
.card-four-image img{
    width: 29em;
    margin-bottom: 1em;
}
.card-five{
    grid-column: 4/5;
    grid-row: 4/7;
     /*border: 2px solid #f19488; para visualizar mejor*/
    background-color: #ffffff;   
    padding-top: 2em;
}
.card-five p{
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 1em;
    font-style: italic;
}
.card-five p strong{
    background-color: #ffffff;
}
/*row 3*/
.card-six{
    grid-column: 1/3;
    grid-row: 7/10;
    /*border: 2px solid #f19488; para visualizar mejor*/
    margin-top: 4em;
}
.card-six-image img{
    width: 29em;
    margin-bottom: 1em;
}


.card-seven{
    grid-column: 3/5;
    grid-row: 7/10;
     /*border: 2px solid #f19488; para visualizar mejor*/
    margin-top: 4em;
}
.card-seven-image img{
    width: 29em;
    margin-bottom: 1em;
}







/*estilos del footer*/
footer{
    background-color: #ffe5e0ff;
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    align-items: center;
}
.footer-info{
    background-color: #ffe5e0ff;    
}
.footer-list{
    list-style-type: none;
    background-color: #ffe5e0ff;
}
.footer-list li{
    background-color: #ffe5e0ff;
    margin-bottom: 1em;
}
.footer-list li a{
    text-decoration: none;
    color: #080808;
    background-color: #ffe5e0ff;
}
.footer-item{
    background-color: #ffe5e0ff;
}
.redes{
    background-color: #ffe5e0ff;    
}
.iconos-redes{
    display: flex; 
    list-style-type: none;
    background-color: #ffe5e0ff;    
}   
.iconos-redes li{
    background-color: #ffe5e0ff;
    margin-left: 1em;    
}
.iconos-redes li i{
    color: #f19488;
    font-size: 2em;    
}
.btn-icon{
    display: flex;
    border-radius: 50%;
    background-color: #ffe5e0ff;
    width: 4em;
    height: 4em;
    border: 2px solid #f19488;
    justify-content: center;
    align-items: center;
}
.btn-icon:hover{
    background-color: #fcf9f9;
    border:#fcf9f9
}
.icon{
    background-color: #ffe5e0ff; 
}
.icon:hover{
    background-color: #fcf9f9;  
}
.btn-icon:hover i{
    color: #080808;
}
.whatsapp-icon{
    display: flex;
    color: #ffffff;
    position: fixed;
    border: 1px solid #149436;
    border-radius: 50%;     
    bottom: 4.6em; 
    right: 1em;
    justify-content: center;
    align-items: center;
}
.whatsapp-icon img{
    width: 4em;
    height: 4em;
    border: 1px solid #149436;
    border-radius: 40px;  
}
.whatsapp-icon img:hover{ 
    content: url(../IMG/whatsapp\ icon\ hover.png);
    width: 4em;
}
.footer-quote{
    font-size: 1em;
    font-style: italic;
    text-align: center;
    background-color: #fcf9f9;
    padding-top: .5em;
    padding-bottom: .5em;
}
blockquote{
    text-align: right;
    font-size: 1em;
    font-style: italic;
}

/*media querys*/
@media (max-width: 768px){
.logo-overlay img{
    max-width: 150px;
}
.nav-horizontal li{
    margin: .5em 1em.05em 1em;
}
/*
.destacado-row{
    grid-template-columns: 1;
    grid-template-rows: 6;
}*/
}